@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Loved+by+the+King&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

body {
  font-family: "Montserrat", sans-serif !important;
  color: white !important;
  font-optical-sizing: auto;
  font-style: normal;
  background: linear-gradient(135deg, #ddddff, #f7f7fa);
    min-height: 100vh; /* ocupa a altura inteira da tela */
    padding: 20px;
}

code {
  font-family: "Montserrat", sans-serif !important;
}

